.contents {
    margin: 15px;
}

.buttons {
    margin-bottom: 15px;
}

.classes {
    float: left;
    width: 30%;
    margin-right: 10px;
}

.ownedProperties {
    float: left;
    width: calc(40% - 30px);
    margin-right: 50px;
}

.properties {
    float: left;
    width: calc(30% - 30px);
}